<div class="container">
  <div class="row justify-content-between">
    <div class="col-5 my-3">
      <div>
        <span>MORE ABOUT US</span>
        <h2>Voluptas enim suscipit temporibus</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <div class="row">
          <div class="col-6 pl-0">
            <ul class="feature-list">
              <li><i class="fa-solid fa-circle-check"></i> Lorem ipsum dolor sit amet</li>
              <li><i class="fa-solid fa-circle-check"></i> Consectetur adipiscing elit</li>
              <li><i class="fa-solid fa-circle-check"></i> Sed do eiusmod tempor</li>
            </ul>
          </div>
          <div class="col-6 pl-0">
            <ul class="feature-list">
              <li><i class="fa-solid fa-circle-check"></i> Incididunt ut labore et</li>
              <li><i class="fa-solid fa-circle-check"></i> Dolore magna aliqua</li>
              <li><i class="fa-solid fa-circle-check"></i> Ut enim ad minim veniam</li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-5 p-0">
            <div class="profile">
              <img src="../../assets/img/avatar-1.webp" alt="I" class="profile-image">
              <div>
                <h4 class="profile-name m-0 mt-1">Mario Smith</h4>
                <p class="profile-position m-0">CEO &amp; Founder</p>
              </div>
            </div>
          </div>
          <div class="col-7 p-0 pl-2">
            <div class="contact-info d-flex p-3">
              <i class="fa-solid fa-phone"></i>
              <div>
                <p class="contact-label m-0">Call us anytime</p>
                <p class="contact-number m-0">+123 456-789</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 my-3 ">
      <div class="image-wrapper">
        <div class="images">
          <img src="../../assets/img/about-5.webp" alt="Business Meeting" class="img-fluid main-image">
          <img src="../../assets/img/about-2.webp" alt="Team Discussion" class="img-fluid small-image">
        </div>
        <div class="experience-badge">
          <h3 class="m-0">15+ <span>Years</span></h3>
          <p class="m-0">Of experience in business service</p>
        </div>
      </div>
    </div>
  </div>
</div>