<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
      <div class="feature-item text-end mb-5 ">
        <div class="feature-item-child d-flex align-items-center justify-content-end">
          <div class="feature-content">
            <h3>Use On Any Device</h3>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>
          </div>
          <div class="stat-icon">
            <i class="fa-solid fa-desktop"></i>
          </div>
        </div>
      </div>
      <div class="feature-item text-end mb-5">
        <div class="feature-item-child d-flex align-items-center justify-content-end">
          <div class="feature-content">
            <h3>Feather Icons</h3>
            <p>Phasellus ullamcorper ipsum rutrum nunc nunc nonummy metus vestibulum volutpat sapien arcu sed augue aliquam erat volutpat.</p>
          </div>
          <div class="stat-icon">
            <i class="fa-solid fa-feather"></i>
          </div>
        </div>
      </div>
      <div class="feature-item text-end">
        <div class="feature-item-child d-flex align-items-center justify-content-end">
          <div class="feature-content">
            <h3>Retina Ready</h3>
            <p>Aenean tellus metus bibendum sed posuere ac mattis non nunc vestibulum fringilla purus sit amet fermentum aenean commodo.</p>
          </div>
          <div class="stat-icon">
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="phone-mockup text-center p-5">
        <img src="../../assets/img/phone-app-screen.webp" alt="Phone Mockup" class="img-fluid">
      </div>
    </div>
    <div class="col-4">
      <div class="feature-item mb-5">
        <div class="feature-item-child d-flex align-items-center">
          <div class="stat-icon">
            <i class="fa-solid fa-terminal"></i>
          </div>
          <div class="feature-content">
            <h3>W3c Valid Code</h3>
            <p>Donec vitae sapien ut libero venenatis faucibus nullam quis ante etiam sit amet orci eget eros faucibus tincidunt.</p>
          </div>
        </div>
      </div>
      <div class="feature-item mb-5">
        <div class="feature-item-child d-flex align-items-center ">
          <div class="stat-icon">
            <i class="fa-solid fa-mobile-screen-button"></i>
          </div>
          <div class="feature-content">
            <h3>Fully Responsive</h3>
            <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet adipiscing sem neque sed ipsum.</p>
          </div>
        </div>
      </div>
      <div class="feature-item">
        <div class="feature-item-child d-flex align-items-center">
          <div class="stat-icon">
            <i class="fa-brands fa-chrome"></i>
          </div>
          <div class="feature-content">
            <h3>Browser Compatibility</h3>
            <p>Nullam dictum felis eu pede mollis pretium integer tincidunt cras dapibus vivamus elementum semper nisi aenean vulputate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>