<div class="container section-title mb-5">
  <h1>Features</h1>
  <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
</div>
<div class="container">
  <div class="tabs">
    <div class="row d-flex content-center">
      <div class="btn-group rounded mb-4">
        <button class="tab btn active" data-target="#modisit">Modisit</button>
        <button class="tab btn" data-target="#praesenti">Praesenti</button>
        <button class="tab btn" data-target="#explica">Explica</button>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane row active" id="modisit">
        <div class="col-6">
          <h2>Voluptas enim suscipit temporibus</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
        </div>
        <div class="col-6 d-flex align-items-center">
          <img src="../../assets/img/features-illustration-1.webp" alt="" class="img-fluid">
        </div>
      </div>
      <div class="tab-pane row" id="praesenti">
        <div class="col-6">
          <h2>Neque exercitationem debitis</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li>Provident mollitia neque rerum asperiores dolores quos quia. Ipsum neque dolor voluptate nisi sed.</li>
            <li> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
        </div>
        <div class="col-6 d-flex align-items-center">
          <img src="../../assets/img/features-illustration-2.webp" alt="" class="img-fluid">
        </div>
      </div>
      <div class="tab-pane row" id="explica">
        <div class="col-6">
          <h2>Voluptatibus commodi accusamu</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li>Provident mollitia neque rerum asperiores dolores quos quia. Ipsum neque dolor voluptate nisi sed.</li>
          </ul>
        </div>
        <div class="col-6 d-flex align-items-center">
          <img src="../../assets/img/features-illustration-3.webp" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>