<div class="container px-5">
  <div class="row">
    <div class="col-6">
      <div>
        <div class="badge primary-color rounded mb-4">
          <i class="fas fa-gear mr-2"></i>
          Working for your success
        </div>
        <h1 class="mb-4">
          Maecenas Vitae <br>
          Consectetur Led <br>
          <span class="primary-color">Vestibulum Ante</span>
        </h1>
        <p class="mb-4">
          Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
          Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
        </p>
        <div class="mt-5">
          <a class="btn btn-primary modal-button" data-modal="modal-menu">Open Modal</a>
          <a href="https://www.youtube.com/watch?v=YkADj0TPrJA" class="btn btn-link">
            <i class="fa-solid fa-circle-play mr-2"></i>
            Play Video
          </a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="hero-image mt-5">
        <img src="../../assets/img/illustration-1.webp" alt="Hero Image" class="img-fluid">
        <div class="customers-badge">
          <div class="customer-avatars">
            <img src="../../assets/img/avatar-1.webp" alt="Customer 1" class="avatar">
            <img src="../../assets/img/avatar-2.webp" alt="Customer 2" class="avatar">
            <img src="../../assets/img/avatar-3.webp" alt="Customer 3" class="avatar">
            <img src="../../assets/img/avatar-4.webp" alt="Customer 4" class="avatar">
            <img src="../../assets/img/avatar-5.webp" alt="Customer 5" class="avatar">
            <span class="avatar more">12+</span>
          </div>
          <p class="m-0 mt-2 text-center">12,000+ lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row stats-row rounded mt-5">
    <div class="col-3 stat-item">
      <div class="stat-icon">
        <i class="fa-solid fa-trophy"></i>
      </div>
      <div class="stat-content text-start">
        <h4>3x Won Awards</h4>
        <p class="mb-0">Vestibulum ante ipsum</p>
      </div>
    </div>
    <div class="col-3 stat-item">
      <div class="stat-icon">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="stat-content text-start">
        <h4>6.5k Faucibus</h4>
        <p class="mb-0">Nullam quis ante</p>
      </div>
    </div>
    <div class="col-3 stat-item">
      <div class="stat-icon">
        <i class="fa-solid fa-chart-line"></i>
      </div>
      <div class="stat-content text-start">
        <h4>80k Mauris</h4>
        <p class="mb-0">Etiam sit amet orci</p>
      </div>
    </div>
    <div class="col-3 stat-item">
      <div class="stat-icon">
        <i class="fa-solid fa-award"></i>
      </div>
      <div class="stat-content text-start">
        <h4>6x Phasellus</h4>
        <p class="mb-0">Vestibulum ante ipsum</p>
      </div>
    </div>
  </div>
</div>