<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="d-flex">
      <h1 class="m-0">My Website</h1>
    </div>
    <div class="header-links d-flex">
      <div class="link-item text-center">
        <a href="#home">Home<a>
      </div>
      <div class="link-item text-center">
        <a href="#contact">Contact<a>
      </div>
      <div class="link-item text-center">
        <a href="#about">About<a>
      </div>
      <div class="link-item text-center">
        <a href="#features">Features<a>
      </div>
      <div class="link-item text-center">
        <a href="#pricing">Pricing<a>
      </div>
      <div class="link-item text-center">
        <a href="#faq" >FAQ<a>
      </div>
    </div>
    <div class="close-modal-block">
      <button class="modal-button d-block" data-modal="modal-menu">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
</div>

<div id="modal-menu" class="modal">
  <div class="modal-content">
    <span id="close-modal" class="close-btn">
      <i class="fa-solid fa-xmark"></i>
    </span>
    <div class="section-title mb-5">
      <h1>Menu</h1>
    </div>
    <div class="link-item text-center close-btn">
      <a href="#home">Home<a>
    </div>
    <div class="link-item text-center close-btn">
      <a href="#contact">Contact<a>
    </div>
    <div class="link-item text-center close-btn">
      <a href="#about">About<a>
    </div>
    <div class="link-item text-center close-btn">
      <a href="#features">Features<a>
    </div>
    <div class="link-item text-center close-btn">
      <a href="#pricing">Pricing<a>
    </div>
    <div class="link-item text-center close-btn">
      <a href="#faq" >FAQ<a>
    </div>
  </div>
</div>
